@model Biblioteca.Models.ImprumuturiCarti

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ImprumuturiCarti</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DataImprumut)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataImprumut)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataReturnare)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataReturnare)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Carti)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Carti.Cod)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Clienti)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Clienti.Adresa)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdImprumut" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
