@model IEnumerable<Biblioteca.Models.ImprumuturiCarti>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Imprumut nou</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataImprumut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataReturnare)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Carti)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clienti)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataImprumut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataReturnare)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Carti.Cod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clienti.Adresa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdImprumut">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.IdImprumut">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
