@model Biblioteca.Web.Models.ImprumuturiCarti

@{
    ViewBag.Title = "Inapoiare carte";
}
<h2>Return a Book</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">

        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IdImprumut)
        @Html.HiddenFor(model => model.IdCarte)
        @Html.HiddenFor(model => model.DataImprumut)
        @Html.HiddenFor(model => model.DataReturnare)
        @Html.HiddenFor(model => model.IdClient)
        <div class="form-group">
            <div class="col-md-10">

                @string.Format("Vrei sa returnezi {0} cartea care a fost imprumutata de {1}.", Model.Carti.Titlu, Model.Clienti.Nume)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Return" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Inapoi catre lista de carti", "Index", "Carti")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}