@model IEnumerable<Biblioteca.Web.Models.ImprumuturiCarti>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Imprumut nou", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DataImprumut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataReturnare)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Carti.Titlu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clienti.Nume)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DataImprumut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataReturnare)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Carti.Titlu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Clienti.Nume)
        </td>
        <td>
            @Html.ActionLink("Editeaza", "Edit", new { id=item.IdImprumut }) |
            @Html.ActionLink("Sterge", "Delete", new { id=item.IdImprumut })
        </td>
    </tr>
}

</table>
